@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Inwestycje ver.2019 jest testową aplikacją pozwalającą na dodawanie, edytowanie oraz usuwanie realizacji budowlanych  firmy XXX. </p>
<p>Dodając nową pozycję należy podać: </p><br>
<ul>
<li>Nazwę lokalu</li>
<li>Miasto</li>
<li>Nazwę Centrum Handlowego/Galerii</li>
<li>metraż w m2</li>
<li>Nazwisko Brygadzisty ekipy realizującej lokal</li>
</ul>
<br>
<p>Dodając nową pozycję należy podać: </p><br>
