@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    zgrEDEK Inc.<br />
    Rzeszuf<br />
  
</address>

<address>
    <strong>Admin:</strong>   <a href="mailto:zgredek@kicor.pl">zgredek@kicor.pl</a><br />

</address>