@{
    ViewBag.Title = "Inwestycje ver.2019";
}

<div class="jumbotron">
    <h1>INWESTYCJE VER.2019</h1>
    <p class="lead">Aplikacja tylko dla użytku wewnętrznego pracowników firmy XXX.</p>
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tytułem wstępu...</h2>
        <p>
            Celem strony na której się znajdujesz jest zarządzanie inwestycjami realizowanymi w firmie XXX.
            Po zalogowaniu się możesz dodawać nowe, edytować istniejące oraz kasować (co nie jest zalecane) pozycje z tabeli odpowiadające realizacjom budowlanym.
             
        </p>
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Użytkowniku pamiętaj!</h2>
        <p>Wszystko co tutaj zrobisz ma znaczenie i wpływa na całość bazy inwestycji. Każda edycja powinna być przemyślana i odpowiadająca rzeczywistości. Kasowanie nie jest zalecane.</p>
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Bezpieczeństwo!</h2>
        <p>Pamiętaj że zebrane tutaj informacje są wrażliwymi danymi firmy XXX i nie powinny być udostępniane osobom trzecim...</p>
       <!-- <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
    </div>
</div>